@import "../../../styles";

@media (max-width: 600px) {
  .header {
    flex-wrap: wrap;
  }
  .site-nav {
    order: 2;
    width: 100%;
  }
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;

  .logo {
    padding: 10px;
  }

  .site-nav {
    ul {
      list-style: none;
      display: flex;
      margin: 0;
      padding: 0;
    }
    a {
      text-decoration: none;
      cursor: pointer;
      padding: 20px;
      display: inline-block;
      color: $font-color;
    }
    .active {
      a {
        font-weight: bold;
        text-decoration: underline;
      }
    }
  }

  .cart {
    cursor: pointer;
    text-decoration: none;
    padding: 20px;
    color: $font-color;
  }
}
