<header class="header">
  <img class="logo" src="assets/images/logo.png">

  <nav class="site-nav navigation">
    <ul>
      <li class="active"><a (click)="goToHome()">HOME</a></li>
      <li><a>SHOP</a></li>
      <li><a>JOURNAL</a></li>
      <li><a>MORE</a></li>
    </ul>
  </nav>
  <a (click)="openCart()" class="cart">MY CART</a>
</header>
