@import "../../../styles";

.header-banner {

  position: relative;
  text-align: center;
  color: $color-white;

  img {
    width: 100%;
    height: 300px;
  }

  .banner-text {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    color: $font-color;
  }
}
