<app-header></app-header>
<hr>
<body *ngIf="product">
<img src="../../../assets/images/{{product.image}}">
<div class="details">
  <p>{{product.brand}}</p>
  <h1>{{product.title}}</h1>
  <p>{{product.price | currency:'AUD'}}</p>
  <p>{{product.description}}</p>
  <hr>
  <div id="counter">{{counter}}</div>
  <div class="button_group">
    <button id="subtract" (click)="increment()">+</button>
    <button id="add" (click)="decrement()">-</button>
    <button (click)="addCart(product, counter)">ADD TO CART</button>
  </div>
</div>
</body>
