@import "../../../styles";

body {
  margin: 60px 120px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  img {
    flex: 2;
  }

  .details {
    flex: 1;
    flex-direction: column;
    padding: 30px;
    text-align: center;
  }
}
