@import "../../../styles";

.container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

  .product {
    display: flex;
    flex-direction: column;
    width: 33.33%;
    align-items: center;
    text-align: center;
    color: $color-grey;
    position: relative;

    img {
      position: relative;
      width: 400px;
      height: 300px;
      background: no-repeat 50% 50%;
      background-size: cover;
    }


    .action {
      transition: .5s ease;
      opacity: 0;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
      text-align: center;
      display: flex;
      flex-direction: column;

      button {
        background-color: $font-color;
        color: $color-white;
        width: 200px;
        height: 40px;
        margin: 10px;
      }
    }
  }

  .product:hover img {
    opacity: 0.3;
  }

  .product:hover .action {
    opacity: 1;
  }
}
