<div class="container">
  <div class="product" *ngFor="let item of categories">
    <img src="../../../assets/images/{{item.image}}">
    <div class="container-text">
      <p>{{item.brand}}</p>
      <h3>{{item.title}}</h3>
      <p>{{item.price | currency:'AUD'}}</p>
    </div>

    <div class="action">
      <button (click)="onSelect(item)">VIEW DETAILS</button>
      <button (click)="addToCart(item)">ADD TO CART</button>
    </div>
  </div>
</div>
