<div class="container tooltip">
  <app-table [columnsTitle]="cartTitle" [cartItems]="cartItems" (clickedDel)="delete($event)"></app-table>
  <hr>
  <p>TOTAL {{getTotalAmount() | currency: 'AUD'}}</p>
  <div class="action">
    <button (click)="viewCart()">VIEW CART</button>
    <button>CHECK OUT</button>
  </div>
</div>

