@import "../../../styles";

:host {
  position: absolute;
  width: 800px;
  border: 1px solid #ccc;
  left: 48%;
  z-index: 1;
  background-color: $color-white;
}

.container.tooltip {
  display: inline-block;
  margin: 20px;

  button {
    background-color: $font-color;
    color: $color-white;
    width: 200px;
    height: 40px;
    margin: 10px;
  }
}
