<app-header (clickedOpenCart)="active =! active"></app-header>
<app-cart-over-view appClickOutSide *ngIf="active" [cartTitle]="columnsTitle" [cartItems]="cartItems"
                    (clickOutside)="active =false"></app-cart-over-view>
<app-banner-header [title]="banner.title" [subTitle]="banner.subTitle" [imgSrc]="banner.imgSrc"></app-banner-header>
<body>
<app-category></app-category>
</body>
