<app-header (clickedOpenCart)="active =! active"></app-header>
<app-cart-over-view *ngIf="active" [cartTitle]="columnsTitle" [cartItems]="cartItems"
                    appClickOutSide (clickOutside)="active =false"></app-cart-over-view>
<hr>
<body>
<h1>Shopping Cart</h1>
<div class="container">
  <app-table [columnsTitle]="columnsTitle" [cartItems]="cartItems"
             (clickedDel)="delete($event)"
             (clickedInc)="increment($event)"
             (clickedDec)="decrement($event)"
             [isQuantityEditable]="true"></app-table>
  <div class="cartOverView container">
    <p>CART OVERVIEW</p>
    <p>SUBTOTAL {{getTotalAmount(cartItems) | currency: 'AUD'}}</p>
    <p>TOTAL {{getTotalAmount(cartItems) | currency: 'AUD'}}</p>
  </div>
  <div class="container action">
    <a (click)="continue()" class="continue">CONTINUE SHOPPING</a>
    <button>CHECK OUT</button>
  </div>
</div>
</body>

