@import "../../../styles";

body {
  margin: 60px 120px;

  .container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin: 20px;
  }

  .action {
    justify-content: space-between;
    flex-direction: row;
  }

  .continue {
    color: $color-grey;
  }
}
