table th {
  text-align: left;
}

.product {
  display: flex;
  flex-direction: row;

  .product-text {
    margin-left: 20px;
  }

  img {
    position: relative;
    width: 200px;
    height: 100px;
    background: no-repeat 50% 50%;
    background-size: cover;
  }
}
