<table *ngIf="cartItems">
  <tr>
    <th *ngFor="let title of columnsTitle">{{title}}</th>
  </tr>
  <tr *ngFor="let item of cartItems">
    <td *ngFor="let title of columnsTitle" [ngSwitch]="title">
      <div *ngSwitchCase="'PRODUCT'" class="product">
        <img src="../../../assets/images/{{item.product.image}}">
        <div class="product-text">
          <p>{{item.product.brand}}</p>
          <h3>{{item.product.title}}</h3>
        </div>
      </div>
      <div *ngSwitchCase="'QUANTITY'">
        <div id="counter">{{item.quantity}}</div>
        <div *ngIf="isQuantityEditable" class="button_group">
          <button id="subtract" (click)="increment(item)">+</button>
          <button id="add" (click)="decrement(item)">-</button>
        </div>
      </div>
      <div *ngSwitchCase="'TOTAL'">{{item.quantity * item.product.price | currency: 'AUD'}}</div>
      <div *ngSwitchCase="'ACTION'">
        <button (click)="delete(item)" class="close">&#x2715;</button>
      </div>
    </td>
  </tr>
</table>
